.ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $off-white;
  border-radius: 3px;
  color: $dark-grey;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  width: 25rem;
}

.modal__login {
  @extend .modal;
  min-height: 34rem;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__button-container {
  display: flex;
  justify-content: center;
  margin: $l-size 0 0;
}
